.netValuePaper {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8)) !important;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
}

.diff {
    line-height: 1;
    display: flex;
    align-items: center;
}

.intervalButton {
    font-size: var(--mantine-spacing-sm) !important;
    font-weight: 700 !important;
}

.selectedInterval {
    color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-gray-2)) !important;
}

.shortcutItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 125px;
    border-radius: var(--mantine-radius-md) !important;
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7)) !important;
    max-width: 500px;
}

@media (hover: hover) {
    .shortcutItem:hover {
        background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4)) !important;
    }
}

.seeAllButton {
    cursor: pointer;
}

@media (hover: hover) {
    .seeAllButton:hover {
        background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4)) !important;
    }
}